.timer {
    font-family: 'Major Mono Display';
    border-radius: 20px;
    width: 50%;
    text-align: center;
    padding: 30px 0 40px 0;
    margin: 8px auto;
    background: #ccc; /* IE9 fallback */
    background-image: linear-gradient(274deg, #dd5e89, #f7bb97);
    color: #ffffff;
}

.timer p {
    display: inline-block;
    width: 76px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 8px;
}
  
.timer span {
    font-weight: bold;
}